<!DOCTYPE html>
<html xmlns:th="http//www.tyymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{updateres}" method="post">
	<input type="hidden" name="log_seq" th:value="${dto.log_seq}">
		<table border="1">
	
				<tr>
					<th>시작날짜</th>
					<td><input type="text" name="log_startday" th:value="${dto.log_startday}"></td>
	
				</tr>
				<tr>
					<th>종료날짜</th>
					<td><input type="text" name="log_endday" th:value="${dto.log_endday}"></td>
	
				</tr>
		
				<tr>
					<th>일정</th>
					<td><textarea rows="10" cols="50" name="log_content" th:inline="text">[[${dto.log_content}]]</textarea>
					</td>
	
				</tr>
				
				<tr>
					<th>사진</th>
					<td><input type="text" name="log_img" th:value="${log_img}"></td>
	
				</tr>
				
				
				
				<tr>
					<td colspan="3">
						<input type="submit" value="수정하기">
						<input type="button" value="목록" onclick="location.href='list'"> 
					</td>
				</tr>
		
		</table>
	
	</form>

</body>
</html>