<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="fragment-community">
	<script type="text/javascript" src="/js/community.js"></script>
	<div class="mainarea">
		<input type="hidden" id="footerchk" th:value="${pagename}">
		<div id="comarea" class="w3-panel w3-bottombar">
			<div class="w3-dropdown-click">
				<button onclick="comDrop()" class="w3-button w3-signal-black"
					id="comname">전체 <i class="fas fa-chevron-down"></i></button>
				<div id="comDrop" class="w3-dropdown-content w3-bar-block w3-border">
					<input type="button" class="w3-bar-item w3-button w3-center" value="전체"
						onclick="selectListAllBoard('전체');" /> <input type="button"
						class="w3-bar-item w3-button w3-center"
						th:each="communityDto:${communitylist}"
						th:value="${communityDto.com_name}"
						th:onclick="selectListBoard([[${communityDto.com_num}]], [[${communityDto.com_name}]]);" />
				</div>
			</div>
			<button class="w3-bar-item w3-button w3-right"><i class="fas fa-search"></i></button>
		</div>

		<div id="boardarea" >
			<div th:each="boardDto:${boardlist}">
			<div th:onclick="selectOneBoard([[${boardDto.board_num}]])">
			<input type="hidden" th:value="${boardDto.board_num}">
			<input type="hidden" th:value="${boardDto.com_num}">
			<input type="hidden" th:value="${boardDto.member_num}">
			<div th:text="${boardDto.board_title}" class="w3-panel w3-large"></div>
			<div th:text="${boardDto.board_content}" class="w3-panel"></div>
			<div class="w3-panel w3-border-bottom ">
				<span class="w3-text-dark-gray" th:text="${boardDto.member_id} + '(' + ${boardDto.member_nickname} + ')'"></span>
				<span class="w3-text-dark-gray w3-right w3-margin-bottom" th:text="${boardDto.board_date}"></span>
			</div>
			</div>
			
			<div class="w3-panel w3-border-bottom ">
				<a href="#" style="text-decoration: none;"><i class="far fa-thumbs-up"></i> 추천하기</a>	
				<a href="#" style="text-decoration: none;"><i class="far fa-comment"></i> 댓글<span class="w3-badge w3-white w3-margin-bottom">1</span></a> 
			</div>
			</div>
	
		</div>

		<div id="boarddetail" class="w3-modal">
			<div class="w3-modal-content w3-animate-right" th:object="${dto}">
				<header class="w3-container w3-white">
					<span                                                                                                                                       
						onclick="document.getElementById('boarddetail').style.display='none'"
						class="w3-button w3-display-top"><i class="fas fa-arrow-left"></i></span>
						<div class="w3-button w3-display-topright" style="right:7.5em;"><i class="fas fa-share-alt"></i></div>
						<div class="w3-button w3-display-topright" style="right:4em;" th:onclick="|updateBoard(${dto?.board_num});|"><i class="fas fa-edit"></i></div>
						<div class="w3-button w3-display-topright" style="right:1em;" th:onclick="|deleteBoard(${dto?.board_num});|"><i class="fas fa-trash-alt"></i></div>
						<div class="w3-panel w3-topbar">	
						</div>
						<div class="w3-panel w3-border-bottom" >
							<span style="font-size: 3em;">
								<i class="far fa-user"></i>
							</span>
							<span class="w3-text-dark-gray">
								<span style="bottom:1.8em; font-weight:bold;" th:text="${dto?.member_id} + '(' + ${dto?.member_nickname} + ')'"></span>
								<span style="right:6.9em;" th:text="${dto?.board_date}"></span>
							</span>
						</div>
						<div th:text="${dto?.board_content}" class="w3-panel w3-large w3-margin-bottom"></div>
						<br/>
						<div class="w3-panel w3-border-top w3-border-bottom ">
						    <br/>
							<a href="#" style="text-decoration: none;"><i class="far fa-thumbs-up"></i> 추천하기</a>	
							<a href="#" style="text-decoration: none;"><i class="far fa-comment"></i> 댓글 <span class="w3-badge w3-white w3-margin-bottom">1</span></a> 
						</div>
						
				</header>
				<div class="w3-container">


					<div>
						<h3>임시 게시글 등록 영역</h3>

						<form action="insertComment" method="post">
							<input type="text" name="comment_content"> <input
								type="submit" value="댓글작성">
						</form>

					</div>

					<div>
						<h3>임시 댓글 영역</h3>

						<form action="insertComment" method="post">
							<input type="text" name="comment_content"> <input
								type="submit" value="댓글작성">
						</form>

					</div>

					<div id="boardcomment">
						<h3>게시판 1개의 댓글 영역</h3>
					</div>

				</div>
				<footer class="w3-container w3-teal">
					<p>Modal Footer</p>
				</footer>
			</div>





		</div>

		<div id="boardinsert">

			<h3>게시글 작성 영역</h3>
			<form action="insertBoardRes" method="post">
				<table border="1">
					<tr>
						<th>게시판 번호</th>
						<td><input type="text" name="board_num" /></td>
					</tr>
					<tr>
						<th>커뮤니티 번호</th>
						<td><input type="text" name="com_num" /></td>
					</tr>
					<tr>
						<th>맴버 번호</th>
						<td><input type="text" name="member_num" /></td>
					</tr>
					<tr>
						<th>게시글 제목</th>
						<td><input type="text" name="board_title" /></td>
					</tr>
					<tr>
						<th>맴버 별멍</th>
						<td><input type="text" name="member_nickname" /></td>
					</tr>
					<tr>
						<th>맴버 아이디</th>
						<td><input type="text" name="member_id" /></td>
					</tr>
					<tr>
						<th>게시글 내용</th>
						<td><input type="text" name="board_content" /></td>
					</tr>
					<tr>
						<th>날짜</th>
						<td><input type="text" name="board_date" /></td>
					</tr>
					<tr>
						<td><input type="submit" value="글작성하기"> <input
							type="button" value="취소하기"></td>
					</tr>
				</table>
			</form>
		</div>

		<div id="boardupdate">
			<h1>게시판 수정 영역</h1>
			<form action="updateboardres" method="post">

				<div th:object="${dto}">
					<input type="text" id="update_board_num"
						th:value="${dto?.board_num}"> <input type="text"
						id="update_com_num" th:value="${dto?.com_num}"> <input
						type="text" id="update_member_num" th:value="${dto?.member_num}">
					<input type="text" id="update_board_title"
						th:value="${dto?.board_title}"> <input type="text"
						id="update_member_nickname" th:value="${dto?.member_nickname}">
					<input type="text" id="update_member_id"
						th:value="${dto?.member_id}"> <input type="text"
						id="update_board_content" th:value="${dto?.board_content}">
					<input type="text" id="update_board_date"
						th:value="${dto?.board_date}"> <input type="button"
						value="수정하기" th:onclick="|updateBoardRes();|"> <input
						type="button" value="삭제하기"
						th:onclick="|deleteBoard(${dto?.board_num});|">
				</div>

			</form>
		</div>
		
	</div>
	<input id="insertButton" class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-black w3-right" type="button" value="+"
					th:onclick="|insertBoard(${dto?.board_num});|" />	

</body>


</html>