<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
// 우선 커뮤니티 메인을 접속하면 게시글 전체를 리스팅 해준다.
	$(function(){
		
		selectListAllBoard();
		
	})
	// 전체 게시판 리스트 호츌
	function selectListAllBoard() {
	
		$.ajax({
			
			url : "selectListAllBoard",
			contentType: "application/json; charset=utf-8",
			method : "POST",
			success:function(data) {
				$("#boardarea").replaceWith(data);
				console.log(data)
			},error: function(e) {
				
			}
			
		})
		
		
	
//	fetch("selectListAllBoard")
//		.then(function(response) {
///			
///			let json = response.json
//			console.log(json)
///			
//			
///			
//		}).catch(function(error) { 
	///		
	//		console.log(error)
	//		
	//	});
		
	
//	if (response.ok) {
//		colsole.log("res ok");
//		let data = response.json();
//		console.log(data)
//		
//	} else {
//		
//		alert("ERROR : " + response.status);		
//	}
	
	

	

	}

	// 1개 게시판 리스트 호출
	function selectListBoard() {

	}

	// 1개 게시글 호출
	function selectOneBoard() {

	}
</script>

</head>
<body>

	<h1>COMMUNITY</h1>

	<table border="1">
		
		<tr th:if="${communitylist.size() == 0}">
			<th>게시판이 없습니다.</th>
		</tr>
		<tr><td><a href="">전체</a></td>
		</tr>
		<tr>
			<td th:unless="${communitylist.size() == 0}" th:each="communityDto:${communitylist}">
			<a th:href="|@{communityDetail}?com_num=${communityDto.com_num}|" th:text="${communityDto.com_name}"></a>
			</td>
		</tr>
	</table>
	
	<div id="boardarea">
		<table border="1">
		<tr th:each="boardDto:${boardlist}">
			<td th:text="${boardDto.board_num}"></td>
			<td th:text="${boardDto.com_num}"></td>
			<td th:text="${boardDto.member_num}"></td>
			<td><a th:href="|@{boardDetail}?board_num=${boardDto.board_num}|" th:text="${boardDto.board_title}"></a></td>
			<td th:text="${boardDto.member_nickname}"></td>
			<td th:text="${boardDto.member_id}"></td>
			<td th:text="${boardDto.board_content}"></td>
			<td th:text="${boardDto.board_date}"></td>
			
		</tr>	
	</table>
		
	</div>
	
	

</body>
</html>