<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="footer">
  <nav class="slidemenu">
  
  <!-- Item 1 -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" value="home" onclick="getPage(this.checked);" />
  <label for="slide-item-1"><i class="fas fa-home"></i><span>홈</span></label>
  
  <!-- Item 2 -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" value="community" onclick="getPage(this.checked);"/>
  <label for="slide-item-2"><i class="fas fa-comments"></i><span>커뮤니티</span></label>
  
  <!-- Item 3 -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" value="bodylog" onclick="getPage(this.checked);"/>
  <label for="slide-item-3"><i class="far fa-calendar-alt"></i><span>바디로그</span></label>
  
  <!-- Item 4 -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" value="like" onclick="getPage(this.checked);"/>
  <label for="slide-item-4"><i class="fas fa-heart"></i><span>즐겨찾기</span></label>
  
  <!-- Item 5 -->
  <input type="radio" name="slideItem" id="slide-item-5" class="slide-toggle" value="mypage" onclick="getPage(this.checked);"/>
  <label for="slide-item-5"><i class="fas fa-user"></i><span>마이페이지</span></label>
  
  <div class="clear"></div>
  
  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>
  
</nav>
	</footer>
</html>
