<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
<script type="text/javascript">

	window.onload = function() {
		
		setTimeout(function(){
			location.href="/member/main";
		}, 2000);
		
	}
	

</script>
</head>
<body>

<!-- 이 페이지가 실행된 후에 뭔가 이미지를 보여주고 그 이미지가 보여진지 3초후에 넘어가랏 -->
	
	<a href="community/main">커뮤니티들어가기</a>
	<a href="member/loginform">로그인</a>
	<a href="member/logout">로그아웃</a>
	<a href="member/logout"></a>
	<a href="community/index">test</a>

	<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>

</body>
</html>